<p>Book a flight for <%= @num_of_passengers %> passengers on <%= @flight.date %> from <%= @flight.from_airport.name %> to <%= @flight.to_airport.name %>.</p>

<%= form_for @booking do |b| %>
  <%= b.hidden_field(:num_of_passengers, value: @num_of_passengers) %>
  <%= b.hidden_field(:flight_id, value: @flight.id) %>
    <%= b.fields_for :passengers do |p| %>
      <%= p.text_field :name %>
      <%= p.label :name %>
      <%= p.text_field :email %>
      <%= p.label :email %>
    <% end %>
  <%= b.submit %>
<% end %>
